body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.container--horizontal {
    flex-direction: row;
}

.container--vertical {
    flex-direction: column;
}

.container--center{
    align-items: center;
}

.bg--orange {     
    background-color: #ffbf69;
}

.bg--pastel-blue {
    background-color: #cbf3f0;
}

.text--big {
    font-size: 50px;
}

.text-medium {
    font-size: 25px;
}

.text-small {
    font-size: 15px;
}

.text--arial-black {
    font-family: 'Arial Black';
}

.text--white {
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    gap: 3%;
    width: 100%;
    font-family: 'Arial Black';
    font-size: 13px;
}

.navbar-item--margin-right {
    margin-right: auto;
}

.section {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  
}

.section--orange {
    background-image: url("assets/background.png");
    height: 600px;
    background-size: 960px 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ffbf69;
 }

.header-title {
    font-size: 100px;
    font-family: 'Arial Black';
    margin-top: 100px;
}

@media only screen and (max-width: 600px){

    .header-title {
        font-size: 80px;
    }

}

.header-text {
    font-size: 20px;
    font-family: 'Arial';
    width: 50%;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    min-width: 500px;
    color: white;
}

.button {
    border: none;
    font-family: 'Arial';

}

.button--big {
    margin-top: 100px;
    background-color: #cbf3f0;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
}

.button--small {
    background-color: #ffbf69;
    font-size: 15px;
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.explaination-section {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 50%;
    gap: 10px;
}

.explaination-section-title {
    font-size: 20px;
    font-family: 'Arial Black';
}


.explaination-section-text {
    font-size: 15px;
    font-family: 'Arial';
}

.buy-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #cbf3f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buy-section-title{
    font-size: 20px;
    font-family: 'Arial Black';
}

.buy-section-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    min-width: 500px;

}

.buy-section-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buy-section-menu-item-image {
    width: 150px;
    height: 150px;
}

.buy-section-menu-item-name {
    font-size: 15px;
    font-family: 'Arial Black';
}

.rules-section {
    background-image: url('assets/bg-grid.png');
    display: flex;
    flex-direction: row;
    height: 600px;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: 10% 50px;
    background-size: contain;
}

.rules-section-image {
    width: 400px;
    height: 350px;
}

.rules-section-text{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

}
.rules-section-text-title {
    font-size: 20px;
    font-family: 'Arial Black';
}

.rules-section-text-body {
    font-size: 15px;
    font-family: 'Arial';
}

